* {
  margin: 0;
  padding: 0;
}

/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/*=============================================
=            Typography            =
=============================================*/

:root {
  --primary-bg-color: rgba(46, 46, 46, 1);
  --deep-light: rgba(255, 255, 255, 1);
  --deep-dark: rgba(0, 0, 0, 1);
  --primary-font-family: "Inter", sans-serif;
  --primary-fz: 1.875px;
  --default-width: 815px;
}
body {
  font-family: var(--primary-font-family);
  background-color: var(--deep-light);
}
h1 {
  color: var(--deep-light);
}

h2,
h4 {
  color: var(--primary-bg-color);
}
h3 {
  color: var(--deep-light);
  font-size: 25px;
}
h4 {
  font-size: 20px;
}
.ds_fs_18 {
  font-size: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-weight: 400;
  font-family: var(--primary-font-family);
}
ul {
  list-style-type: none;
}
.ds_fs_15 {
  font-size: 15px;
}
.ds_fs_14 {
  font-size: 14px;
}
.ds_fs_12 {
  font-size: 12px;
}
.ds_fs_17 {
  font-size: 17px;
}
.ds_fs_18 {
  font-size: 18px;
}
.ds_fs_25 {
  font-size: 25px;
}
.ds_fs_30 {
  font-size: 30px;
}
.ds_fs_35 {
  font-size: 35px;
}
.btn {
  border: 1px solid var(--deep-dark);
  padding: 6px 19px;
}
a {
  text-decoration: none;
}
.heading {
  text-align: center;
}
/*=====  End of Typography  ======*/

/*=============================================
=            Header            =
=============================================*/
body {
  /* width: 815px; */
}
a:hover {
  transition: 0.4s all ease-in-out;
}
header {
  background-color: var(--primary-bg-color);
  color: var(--deep-light);
}
/* logo */

.ds_logo_wrapper h2 {
  color: #fff;
}
header > nav {
  width: var(--default-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 73px;
  margin: 0 auto;
}
header > nav ul.nav_list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
header > nav ul.nav_list li a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 18px;
  padding: 0 12px;
  color: var(--deep-light);
}
header > nav ul.nav_list li:hover a {
  opacity: 0.8;
}
header > nav ul.nav_list_right {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
header > nav ul.nav_list_right li a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 18px;
}
.btn_signup {
  border-color: var(--deep-light);
  background-color: var(--deep-light);
  border-radius: 10px;
  color: var(--primary-bg-color);
  font-size: 18px;
}
.btn_signup:hover {
  /* opacity: 0.8; */
  background-color: transparent;

  color: var(--deep-light);
  /* border-color: ; */
}

/*=====  End of Header  ======*/

/*=============================================
=            Hero            =
=============================================*/
section.ds_hero {
  background: url("./assets/imgs/bg.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 461px;
}

.ds_hero > .ds_content {
  width: var(--default-width);
  margin: 0 auto;
  display: flex;
  height: 100%;
  align-items: center;
}
.ds_social ul.ds_social_list li {
  margin-bottom: 5px;
}
.ds_social ul.ds_social_list li a {
  background: #fff;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.ds_right_content p.ds_para {
  color: var(--deep-light);
}
.ds_right_content h2.ds_hero_title {
  color: var(--deep-light);
}

.ds_right_content {
  margin-top: -5px;
  margin-left: 39px;
}

.ds_right_content p.ds_para {
  line-height: 1.6;
  font-family: var(--primary-font-family);
  letter-spacing: 2px;
}

a.ds_learn_more {
  display: inline-block;
  background-color: var(--deep-light);
  border-color: var(--deep-light);
  color: var(--deep-dark);
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
}
a.ds_learn_more img.ds_arrow_right_top {
  margin-left: 5px;
}
/*=====  End of Hero  ======*/

/*=============================================
=            Learn With Us            =
=============================================*/

section.ds_learn_with_us {
  margin: 50px 0;
  width: 100%;
  overflow: hidden;
}
section.ds_learn_with_us .ds_learn_with_us_innter {
  width: var(--default-width);
  margin: 0 auto;
  /* padding: 100px; */
}
section.ds_learn_with_us .ds_learn_with_us_innter .heading {
  text-align: center;
}
section.ds_learn_with_us .ds_learn_with_us_innter .ds_cards {
  margin-top: 50px;
  display: flex;
  gap: 10px;
}

section.ds_learn_with_us .ds_learn_with_us_innter .ds_card {
  background: var(--primary-bg-color);
  text-align: center;
  position: relative;
  border-radius: 10px;
}

section.ds_learn_with_us .ds_learn_with_us_innter .ds_icon_warp img {
  border: 5px solid var(--primary-bg-color);
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: -38px;
  padding: 6px;
  left: 35%;
}
section.ds_learn_with_us .ds_learn_with_us_innter .ds_card h3.ds_card_title {
  /* padding-top: 55px; */
  font-family: var(--primary-font-family);
}
.ds_card_content {
  padding: 65px 0 20px 0;
}
section.ds_learn_with_us .ds_learn_with_us_innter p.para {
  color: var(--deep-light);
  letter-spacing: 1px;
  font-weight: 100;
  /* padding: 0 0 20px 0; */
}

/*=====  End of Learn With Us  ======*/

/*=============================================
=            Our Team            =
=============================================*/
section.ds_our_team {
  margin-top: 50px;
  width: 100%;
  overflow: hidden;
}
section.ds_our_team .ds_our_team_innter {
  width: var(--default-width);
  margin: 0 auto;
}

.ds_tm_card_title {
  color: var(--primary-bg-color);
  font-weight: 700;
}
.ds_team_card {
  text-align: center;
}

.ds_team_card .heading {
  font-weight: 700;
}
.team_cards {
  padding: 25px 0 25px 0;
  display: flex;
}
.team_cards.cards_bottom {
  width: 80%;
  margin: 0 auto;
}
/*=====  End of Our Team  ======*/

/*=============================================
=            Footer            =
=============================================*/
footer#footer {
  width: 100%;
  overflow: hidden;
  background: var(--primary-bg-color);
}
.foot_inner {
  width: var(--default-width);
  margin: 0 auto;
  padding: 50px 0;
}
.widgets {
  display: flex;
  justify-content: space-between;
}
.widgets h4.heading {
  color: var(--deep-light);
  margin-bottom: 7px;
}
.widget {
  display: block;
}
.widget p.foot_para {
  color: var(--deep-light);
  font-weight: 100;
  width: 250px;
  line-height: 1.6;
  margin-top: 17px;
  font-weight: 100;
  margin-bottom: 12px;
}
.ds_social .ds_social_list.ds_social_foot_list {
  display: flex !important;
  gap: 8px;
}

.quick_links .quick_list li a {
  color: var(--deep-light);
  line-height: 1.7;
}
.widget .newsletter_form {
  display: flex;
}

.widget .newsletter_form {
  display: flex;
}
.widget .subscribe_content h4.heading {
  text-align: left;
}
form.newsletter_form input {
  background: transparent;
  border: 1px solid var(--deep-light);
  padding: 3px 5px;
  width: 120px;
  color: var(--deep-light);
}

form.newsletter_form button {
  border: 1px solid var(--deep-light);
  background: var(--deep-light);
  color: var(--deep-dark);
  padding: 5px;
}

/*=====  End of Footer  ======*/
